/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
}

/* HEADER */

h1, p {
    margin: 1em auto;
    text-align: center;
}

/* MAIN */

form {
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
}

fieldset {
    border: none;
    border-bottom: 3px solid #3b3b4f;
    padding: 2em 0;
}

label {
    display: block;
    margin: 0.5em 0;
}

input, textarea {
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
}  

input, textarea, select {
    width: 100%;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

a {
    color: #f5f6f7;
}

